.home_page .key {
  background-color: var(--main-color);
  background-size: cover;
  height: 56vw;
  min-height: 690px;
  max-height: 900px;
  overflow: hidden;
  font-size: 10px;
}
.home_page .key .inner {
  position: relative;
  height: 100%;
  padding: 0;
}
.home_page .key .key_text {
  position: relative;
  width: 100%;
  height: 100%;
}
.home_page .key .key_text .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 56vw;
  min-height: 690px;
  max-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home_page .key h2,
.home_page .key p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.home_page .key h2 {
  margin-bottom: 1em;
  font-size: 4em;
  line-height: 2;
}
.home_page .key p {
  font-size: 2em;
}
.home_page .topic_path {
  display: none;
}
.home_page h3 {
  position: relative;
  display: table;
  margin-bottom: 35px;
  color: var(--clr1);
  font-size: calc(var(--ttl_size) - 2px);
  font-weight: 400;
  letter-spacing: 0;
}
.home_page h3 .en {
  color: var(--main-color);
  font-size: 5.35714em;
  line-height: 0.8;
  display: block;
}
.home_page h3.white {
  color: #fff;
}
.home_page h3.white .en {
  color: #fff;
}
.home_page h3.style02 .jp {
  position: absolute;
  display: table;
  top: 50%;
  left: 0;
}
.home_page h3.style02 .en {
  line-height: 0.933333;
  color: var(--clr1);
  opacity: 0.3;
}
.home_page h3.style02.en-right .jp {
  right: 0;
  left: auto;
}
.home_page h3.style02.en-right .en {
  text-align: right;
}
.home_page h4 {
  font-size: 22px;
  margin-bottom: 25px;
  letter-spacing: 0.2em;
}

.time_sheet {
  margin: 0px auto;
  max-width: 464px;
}
.time_sheet.st2 {
  margin-bottom: 41px;
  color: #fff;
}
.time_sheet.st2 .note {
  margin-left: auto;
  margin-top: 13px;
  margin-right: -3px;
}
.time_sheet.st2 table th {
  color: #333;
}
.time_sheet.st2 table td {
  padding-bottom: 1.35em;
}
.time_sheet.st2 table tr:nth-child(3) td {
  padding-top: 1.25em;
  padding-bottom: 1.35em;
}
.time_sheet .note {
  margin-top: 15px;
  margin-left: -2px;
  line-height: 2;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.time_sheet .note span {
  display: inline-block;
}
.time_sheet table {
  font-size: 16px;
  font-feature-settings: "palt";
}
.time_sheet table th,
.time_sheet table td {
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1em;
  width: 9.9%;
  border-bottom: 1px solid var(--clr1);
}
.time_sheet table th:first-child,
.time_sheet table td:first-child {
  width: auto;
  padding-left: 1.9%;
}
.time_sheet table th:last-child,
.time_sheet table td:last-child {
  width: 16.05%;
  padding-left: 0.8em;
  text-align: left;
}
.time_sheet table th {
  padding: 0.6em 0.2em;
}
.time_sheet table td {
  padding: 1.35em 0.2em 1.65em;
  color: var(--main-color);
}
.time_sheet table td:first-child {
  color: #333;
}
.time_sheet table tr:nth-child(3) td {
  padding-bottom: 1.6em;
}

section {
  background-size: cover;
  background-repeat: no-repeat;
}

.idx_map {
  height: 450px;
}
.idx_map iframe {
  height: 100%;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  :root {
    --ttl_size: 24px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 769px) {
  :root {
    --ttl_size: 22px;
  }
}
.idx12 h3 {
  margin-right: 14.2vw;
  margin-bottom: 0;
}
.idx12 .ttl {
  font-size: 60px;
  color: var(--clr1);
  font-weight: 300;
  font-family: var(--f-cormorant);
  letter-spacing: 0;
  opacity: 0.3;
  line-height: 1;
}
.idx12 .inner_big {
  padding-right: 0;
}
.idx12 .idx12_heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 54px;
}
.idx12 .idx_feature {
  counter-reset: counter02;
}
.idx12 .idx_feature h4,
.idx12 .idx_feature p {
  color: white;
}
.idx12 .idx_feature .btn-group {
  width: 100%;
}
.idx12 .feature_box {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto 10px;
  min-height: 750px;
  max-width: 1920px;
  overflow: hidden;
  background: url(../images/idx12_img01.jpg) no-repeat center/cover;
}
.idx12 .feature_box:before, .idx12 .feature_box:after {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 91.25% 0, 31.1% 100%, 100% 100%);
}
.idx12 .feature_box:before {
  background-color: rgba(70, 95, 128, 0.7);
}
.idx12 .feature_box:after {
  z-index: -1;
  background: url(../images/idx12_img01.jpg) no-repeat center/cover;
  filter: blur(5px);
}
.idx12 .feature_box .filter {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #465f80;
  opacity: 0.2;
}
.idx12 .feature_box .box_content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 5vw;
  padding-right: 7.1vw;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto 0;
}
.idx12 .feature_box .box_content:before {
  content: counter(counter02, decimal-leading-zero);
  counter-increment: counter02;
  position: absolute;
  top: 0;
  right: -0.03em;
  font-size: 300px;
  font-family: var(--f-cinzel);
  line-height: 0.83;
  letter-spacing: 0;
  color: white;
  opacity: 0.2;
}
.idx12 .feature_box .box_text {
  max-width: 500px;
}
.idx12 .feature_box:nth-child(3):before, .idx12 .feature_box:nth-child(3):after {
  clip-path: polygon(100% 0, 39.55% 0, 66.6% 100%, 100% 100%);
}
.idx12 .feature_box:nth-child(3) .box_content {
  justify-content: flex-start;
  padding-top: 9.8vw;
  padding-right: 7.1vw;
}
.idx12 .feature_box:nth-child(3) .box_content:before {
  top: auto;
  bottom: -0.096667em;
}
.idx12 .feature_box:nth-child(2n):before, .idx12 .feature_box:nth-child(2n):after {
  clip-path: polygon(0 0, 17.4% 0, 97.5% 100%, 0 100%);
}
.idx12 .feature_box:nth-child(2n) .box_content {
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 10.4vw 7.2vw;
}
.idx12 .feature_box:nth-child(2n) .box_content:before {
  right: auto;
  left: -0.03em;
}
.idx12 .feature_box:nth-child(4):before, .idx12 .feature_box:nth-child(4):after {
  clip-path: polygon(0 0, 12.1% 0, 100% 82%, 100% 100%, 0 100%);
}
.idx12 .feature_box:nth-child(4) .box_content {
  justify-content: flex-end;
}
.idx12 .feature_box:nth-child(1) {
  background-image: url(../images/idx12_img01.jpg);
}
.idx12 .feature_box:nth-child(1):after {
  background-image: url(../images/idx12_img01.jpg);
}
.idx12 .feature_box:nth-child(2) {
  background-image: url(../images/idx12_img02.jpg);
}
.idx12 .feature_box:nth-child(2):after {
  background-image: url(../images/idx12_img02.jpg);
}
.idx12 .feature_box:nth-child(3) {
  background-image: url(../images/idx12_img03.jpg);
}
.idx12 .feature_box:nth-child(3):after {
  background-image: url(../images/idx12_img03.jpg);
}
.idx12 .feature_box:nth-child(4) {
  background-image: url(../images/idx12_img04.jpg);
}
.idx12 .feature_box:nth-child(4):after {
  background-image: url(../images/idx12_img04.jpg);
}

/*# sourceMappingURL=index_pc.css.map */