h1 {
	font-size: 10px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
height: var(--wrapper);
	z-index: 20;
}
header.active,
.ovh header {


	background-color: #fff;
}
.header_top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin: 0 auto;
	padding: 5px 20px;	height: 100%;
	transition: all 0.3s ease-in-out;
}

.logo {
	width: 25%;
	max-width: 450px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		display: block;
		width: 100%;
		text-align: center;
	}
}

.right_head {
	width: 70%;
	max-width: 864px;
	padding-right: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.pc_navi {
	width: 100%;

	>ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		width: 100%;

		>li {
			position: relative;
			&.menu-item-has-children {

				>a,
				>p {
					&::after {
						content: "";
						background: url(../images/shared_pc_navi_arrow.png) center no-repeat;
						background-size: 100% auto;
						width: 9px;
						height: 5px;
						position: absolute;
						bottom: 0px;
						left: calc(50% - 4.5px);
						transition: all 0.5s ease;

						/*border-color: #fff transparent transparent transparent;
					border-style: solid;
					border-width: 6px 6px 0px 6px;
					width: 0;
					height: 0;*/
					}
					&:hover {
						&::after {
							transform: translateY(5px);
						}
					}
				}

			}
			>a,
			>p {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin: 0;
				height: 40px;
				text-decoration: none;
				text-align: center;
				font-weight: 500;
				font-size: 18px;
				line-height: 1.5;
				letter-spacing: 0.1em;
			
				transition: all 0.2s ease;
				color: var(--clr1);
				&:hover {
					opacity: 0.8;
					color: var(--main-color);
				}

				span {
					display: block;
					width: 100%;
					padding-top: 0px;
					font-size: 66.66666666666667%;
					font-weight: 600;
				}

				
			}

			&:hover {

				a,
				p {
					&.title {
						&::after {
							transform: translateY(5px);
						}
					}
				}
			}
		}

		.subInner {
			position: absolute;
			width: 220px;
			right: 50%;
			bottom: -15px;
			padding-top: 0px;
			transform: translate(50%, 100%);
			transition: all 0.2s ease-in-out;
			opacity: 0;
			visibility: hidden;
			z-index: 1;

			&.active {
				opacity: 1;
				visibility: visible;
			}

			ul {
				background-color: rgba($color: #000, $alpha: 1.0);
				padding-bottom: 10px;

				li {
					padding: 0 10px;

					a {
						position: relative;
						display: block;
						padding: 19px 10px 19px 28px;
						border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
						transition: all 0.2s ease;
						font-size: 14px;
						font-weight: 500;
						color: #fff;
						text-decoration: none;
						text-align: left;
						letter-spacing: 0px;

						&::before {
							content: "\203A";
							display: block;
							position: absolute;
							top: 50%;
							left: 10px;
							transform: translateY(-54%);
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 769px) {
	.pc_navi > ul  .col2{
		.subInner{
			width: 440px;
			ul{
				display: flex;
				flex-wrap: wrap;
				li{
					width: 50%;
				}
			}
		}
	}
	.menu_toggle .inside .ft_link {
		width: 100%;
		max-width: 900px;
		margin: auto;
		min-height: 100%;
		display: flex;
		align-items: center;

		.link_list {
			width: 100%;
		}

		

		

		
	}
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
	:root{
	
		--wrapper: 100px;
	}
	

	.pc_navi {
		>ul {
			>li {

				>a,
				p {
					font-size: 1.5vw;

				
				}
			}

			.subInner {
				ul {
					li {
						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
	:root{
	
		--ttl_size : 22px;
		--wrapper: 80px;
	}
}
.totop {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    position: fixed;
    z-index: 19;
    bottom: 45px;
    right: 95px;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    .icon {
        background-image: url(../images/totop.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        border: 0px;
        width: 80px;
        height: 80px;
        margin: 0;
    }
}

@include screen(min769) {
    .totop {
        &:hover {
            .icon {
                opacity: 0.9;
                animation-name: bounces;
            }
        }
    }
}

.bounce {
    animation-name: bounces;
}

.animateds {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bounces {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes fixed_banner {
    0% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: -3px;
        opacity: 0.7;
    }
}
.idx_gallery {
	ul {
		display: flex;

		li {
			.img {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-color: var(--main-color);
				width: 450px;
				height: 350px;
			}

			@for $i from 1 to 6 {
				.img0#{$i} {
					background-image: url(../images/idx_gallery0#{$i}.jpg);
				}
			}
		}
	}
}
.fixed_banner {
    position: fixed;
    top: 200px;
    right: 0px;
    z-index: 15;
    transition: right 0.3s ease-in-out;



    &:hover {
        right: 0;
    }

    >div {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s ease;

        &:not(.tel):hover {
            opacity: 0.7;
        }
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: 1;
    }

    p {
        margin-bottom: 0;
        color: #fff;
        letter-spacing: 0.12em;
        line-height: 1.222222222222222;
        text-align: center;

        &::before {
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 100%;
            display: block;
            width: 100%;
            margin-bottom: 8px;
        }
    }

    .tel {
        background-color: #b3b3b3;


        p {


            &::before {
                background-image: url("../images/shared_fixed_bnr_icon01.png");

            }

            i {
                font-style: normal;
            }

            span {
                writing-mode: tb-rl;
            }
        }
    }

    .web {
        background-color: #ccc;


        p {


            &::before {
                background-image: url("../images/shared_fixed_bnr_icon02.png");

            }
        }
    }

    .mail {
        background-color: #dcdcdc;


        p {


            &::before {
                background-image: url("../images/shared_fixed_bnr_icon03.png");

            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .fixed_banner {
        font-size: 10px;

        >div {
            width: 9em;
            height: 9em;
        }

        p {
            font-size: 1.5em;
            letter-spacing: 0.05em;
        }

        .tel {
            height: 12em;
        }

        .web {
            p {
                &::before {
                    height: 1.9333em;
                }
            }
        }

        .mail {
            p {
                &::before {
                    height: 1.9333em;
                }
            }
        }
    }
}


@media only screen and (min-width: 769px) and (max-width: 1366px),
(min-width: 769px) and (max-height: 780px) {
    .fixed_banner {
        font-size: 8.75px;
    }


}
footer {
	padding: 40px 0 40px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--clr1);

	p {
		margin-bottom: 0;
	}

	p,
	a {
		color: #fff;
		text-decoration: none;

	}

	.ft_logo {
		padding: 0px 0 30px;
	}

	.ft_info {
		width: 47.5%;

		.des {
			margin-bottom: 26px;
			color: #fff;
			font-size: 14px;
			letter-spacing: 0.1em;
		}
	}
}



.ft_link {


	a {
		text-decoration: none;
	}

	.menu01 {
	width: 100%;
	ul{
		max-height: 8em;
	}
	}

	.menu02 {
	margin-top: 32px;
	width: 100%;

		ul {

		
			max-height: 10em;

			li {
			
				&:nth-child(n+3){
					max-width: 250px;
				}
			}
		}
	}
	ul {
		display: flex;
		flex-flow: column wrap;
		align-content: space-between;
		li {
			width: 50%;
		}
	}
	.ttl {
		
		margin-bottom: 28px;

		padding-left: 0;
		font-size: calc(var(--ttl_size) + 4px);
		font-weight: 400;
		color: #fff;
		letter-spacing: 0.2em;
		line-height: 1;
		pointer-events: none;
		font-family: var(--f-en);

		&::before {
			display: none;
		}
	}

	ul {
	
		&:last-child {
			margin-bottom: 0;
		}
	}

	li {
		margin-bottom: 1.15em;
		letter-spacing: 0.1em;
		line-height: 1.6;
		color: #fff;

		&.last {
			margin-bottom: 29px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		position: relative;
		padding-left: 0em;
		color: inherit;
		font-size: 14px;
		letter-spacing: 0.05em;
		&::before {
			content: "ãƒ»";
			margin-left: -0.35em;
			border-radius: 100%;
			width: auto;
			height: auto;
		
		
		}

		&:hover {
			opacity: 1;
			
		}
	}
}
.copyright {
	margin: 0 auto 0;
	color: #fff;
	padding: 17px 0px 23px;
	position: relative;
	z-index: 1;

	.flex {
		align-items: center;
		justify-content: flex-start;
		min-height: 40px;
	}

	.inner_big {
		max-width: 1135px;
	}

	&::before {
		position: absolute;
		content: "";
		display: block;
		z-index: -1;
		left: calc(50% - 50vw);
		top: 0;
		height: 100%;
		width: 100vw;
		background-color: var(--main-color);
	}

	.textwidget {
		display: block;
		margin-top: 7px;
		font-weight: 400;
		letter-spacing: 0.1em;
		line-height: 20px;
		padding-left: 19px;
		padding-top: 0px;
		padding-bottom: 3px;
		margin-left: 22px;
		border-left: 1px solid rgba($color: #fff, $alpha: 0.5);

		p {
			margin-bottom: 0;
			font-size: 13px;
			line-height: inherit;
			letter-spacing: 0.1em;
		}
	}

	.grits {
		margin-bottom: 0;
		line-height: 2.501;

		a {
			display: block;
		}

		img {
			max-width: 159px;
		}
	}
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
	footer {
		.ft_link {
			.ttl {
				
				
			}

			li {
				
			

				

				
			}
		}

	
	}
}