@charset "UTF-8";
@import "_mixin";
.home_page {
	.key {
		background-color: var(--main-color);
		background-size: cover;
		height: 56vw;
		min-height: 690px;
		max-height: 900px;
		overflow: hidden;
		font-size: 10px;

		.inner {
			position: relative;
			height: 100%;
			padding: 0;
		}

		.key_text {
			position: relative;
			width: 100%;
			height: 100%;

			.item {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				height: 56vw;
				min-height: 690px;
				max-height: 900px;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		h2,
		p {
			color: #fff;
			font-weight: 500;
			letter-spacing: 0.1em;
		}

		h2 {
			margin-bottom: 1em;
			font-size: 4em;
			line-height: 2;
		}

		p {
			font-size: 2em;
		}
	}

	.topic_path {
		display: none;
	}



	h3 {
		position: relative;
		margin-bottom: 35px;
		color: var(--clr1);
		font-family: var(--f-jp);
		font-size: calc(var(--ttl_size) + 14px);
		font-weight: 500;
		letter-spacing: 0.15em;

		.en {
			color: var(--main-color);
			font-weight: 500;
			text-transform: uppercase;
		}

		&.white {
			color: #fff;
			

			.en {
				color: #fff;
			}
		}
	}
}




@media only screen and (min-width: 769px) {
	.home_page {
		.key {
			.s1 {
				//background-image: url(../images/idx_mv01.jpg);
			}

			.slick-initialized		.s2 {
				//	background-image: url(../images/idx_mv02.jpg);
			}

			.slick-initialized			.s3 {
				// background-image: url(../images/idx_mv03.jpg);
			}
		}
	}
}
.time_sheet {
	margin: 0px auto;
	max-width: 464px;


	&.st2 {
		margin-bottom: 41px;
		color: #fff;

		.note {
			margin-left: auto;
			margin-top: 13px;
			margin-right: -3px;
		}

		table {

			th {
				color: #333;
			}

			td {
				padding-bottom: 1.35em;
			}

			tr:nth-child(3) td {
				padding-top: 1.25em;
				padding-bottom: 1.35em;
			}
		}
	}

	.note {
		margin-top: 15px;
		margin-left: -2px;
		line-height: 2;
		font-size: 14px;
		letter-spacing: 0.1em;

		span {
			display: inline-block;
		}
	}

	table {
		font-size: 16px;
		font-feature-settings: "palt";

		th,
		td {
			border-top: none;
			border-right: none;
			border-left: none;
			text-align: center;
			font-weight: 500;

			letter-spacing: 0.1em;
			width: 9.9%;


			border-bottom: 1px solid var(--clr1);

			&:first-child {
				width: auto;
				padding-left: 1.9%;
			}

			&:last-child {

				width: 16.05%;
				padding-left: 0.8em;
				text-align: left;

			}

		}

		th {


			padding: 0.6em 0.2em;




		}

		td {
			padding: 1.35em 0.2em 1.65em;


			color: var(--main-color);

			&:first-child {
				color: #333;
			}


		}

		tr:nth-child(3) {
			td {

				padding-bottom: 1.6em;
			}
		}
	}
}
section{
	background-size: cover;
	background-repeat: no-repeat;
}

// End Index General
.index0 {
	padding: 100px 0px 100px;
	
	// background-image: url(../images/idx0_bg.jpg);
}
.index0 {
	padding: 100px 0px 100px;

	// background-image: url(../images/idx0_bg.jpg);
}
.index0 {
	padding: 100px 0px 100px;
	
	// background-image: url(../images/idx0_bg.jpg);
}

.index07 {
	padding: 80px 0px;
	background-color: #edeff2;

	.content {
		align-items: inherit;

		.box {
			width: 49%;
			padding: 50px;
			max-width: 638px;
			background-color: #fff;
		}

		li {
		
			border-bottom: 1px solid #e5e5e5;
width: auto;
			&:last-child {
				border-bottom: 0;
			}

			a {
			    display: inline-flex;
				text-decoration: none;
				padding: 26px 0px 25px;
				font-weight: 500;
				transition: all .3s;
				letter-spacing: 0.1em;
				white-space: nowrap;
				max-width: 100%;
				span {
					display: inline;
				}

				&:hover {
					opacity: 1;
					color: var(--main-color);

					.date {
						color: var(--main-color);
					}
				}

				.date {
					width: 8.5em;
					transition: all .3s;
					color: var(--main-color);
				}

				.title {
					max-width: calc(100% - 8.5em);
					position: relative;
				
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}

		.news {
			position: relative;
		}

		.btn-group {
			position: absolute;
			right: 0px;
			top: 4px;
			z-index: 1;
			width: 50%;
			max-width: 218px;

			.btn.style01 {
				width: 100%;
			}
		}
	}
}

.index08 {
	padding: 100px 0;

	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
		width: 238px;
		height: 229px;
		transition: all .3s;
		color: #fff;
		text-align: center;

		&::before {
			@include before;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url(../images/doctor.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: var(--main-color);
			z-index: -1;
			--mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 238 229' %3E%3Cpath d='M7.790,92.655 C0.489,114.686 -2.999,140.450 8.422,161.34 C13.375,169.960 20.650,177.390 28.386,184.63 C76.535,225.594 153.75,247.999 207.372,207.209 C237.463,184.605 240.996,137.660 235.151,102.626 C230.113,72.430 214.626,43.769 190.924,24.336 C157.942,-2.704 121.593,-6.1 84.325,11.146 C49.608,27.120 21.242,56.863 7.790,92.655 Z'/%3E%3C/svg%3E");
			mask-image: var(--mask);
			-webkit-mask-image: var(--mask);
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			mask-size: 100% auto;
			-webkit-mask-size: 100% auto;
			mask-position: bottom center;
			-webkit-mask-position: bottom center;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}
}

.index09 {
	padding: 100px 0;
	background-color: #333;

	h3 {
		text-align: center;
		color: blue;
		@include stroke(#fff, 2);
	}

	.idx_row {
		display: flex;
		flex-wrap: wrap;

		.box {
			width: 100%;
			margin-bottom: 20px;
			background-color: var(--main-color);
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include flex_box(2, 30px, '769px');

		&.st1 {
			@include flex_box(3, 10px, 'not');
		}

		&.st2 {
			@include flex_box(4, 20px, '769px');
		}

		&.st3 {
			@include flex_box(5, 20px, '1280px');
		}
	}
}


.idx_map {
	height: 450px;

	iframe {
		height: 100%;
	}
}


@media only screen and (max-width: 1366px) and (min-width: 769px) {
	.index05 {}
}
@media only screen and (min-width: 769px) and (max-width: 1280px) {
	:root{
	
		--ttl_size : 24px;

	}
	
	.home_page {
		h3 {
		//	margin-bottom: 30px;
		//	font-size: calc(var(--ttl_size) + 18px);

			
		}
	}
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
	.index05 {}
}
@media only screen and (max-width: 992px) and (min-width: 769px) {
	:root{
	
		--ttl_size : 22px;
	
	}
}